<div class="profile-container">
  <div class="profile-header">
    <h1 class="profile-name">{{user.name}}</h1>
  </div>
  <div class="profile-body">
    <h2>User Information</h2>
    <ul class="profile-contact">
      <li><strong>Email:</strong> {{user.email}} </li>
      <li><strong>Phone:</strong> {{user.phone}}</li>
      <li><strong>Wallet:</strong> {{user.wallet}} </li>
    </ul>
    <button (click)="goToConfianza()">Ver Confianza</button>   <!-- boton para ir al componente que te dirija a la confianza -->  
    <h2>User Orders</h2>
    <ul class="profile-orders">
      <li *ngFor="let order of orders">
        <app-order [order]="order"></app-order>
      </li>
    </ul>
    
   
  </div>
  <button (click)="Return()">Exit</button>
  
</div>